@import "./mixin";

@include basic {
	html,
	body {
		padding: 0;
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
			Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		line-height: 1.7;
		font-size: 15px;
		color: #333;
		background: #fff;
	}

	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	a {
		color: #0070f3;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	img {
		max-width: 100%;
		display: block;
	}
	main {
		padding-top: 3em;
	}
	article {
		padding: 1.8em 0.8em;
	}
}
@include tablet {
	main {
		padding-top: 0;
	}
}
@include desktop {
	main {
		padding-top: 1em;
	}
}
