@import "../../styles/mixin";

@include basic {
	.wrap {
		//position: static; // position 스왑
		background-color: #fdfdfd;
		position: fixed; // position 스왑
		z-index: 100;
		width: 100%;
		top: 0;
		border-bottom: 1px solid #ddd;
		max-width: 960px;
		margin: 0 auto;
		.nav {
			height: 50px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			font-weight: 400;
			font-family: "Roboto Condensed", sans-serif;
			padding: 0 1rem;
			text-transform: uppercase;
			max-width: 960px;
			margin: 0 auto;
			.blog-logo {
				line-height: 50px;
				font-size: 18px;
				text-decoration: none;
				border-bottom: 0;
				text-align: center;
				font-weight: bold;
			}
			a {
				//order: 1;
				line-height: 50px;
				margin: auto;
				color: #333;
				font-size: 14px;
			}
		}
	}
}
@include tablet {
	.wrap {
		.nav {
			text-align: center;
			.blog-logo {
				//order: 0;
				width: auto;
			}
			a {
				display: block;
			}
		}
	}
}
@include desktop {
	.wrap {
		width: 62%;
		max-width: 770px;
		margin-left: 28%;
		.nav {
			padding: 0;
			text-align: left;
			a {
				display: block;
				font-size: 13px;
				padding-right: 2em;
				margin: 0;
			}
		}
	}
}
